<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Gender</th>
    </tr>
    <tr th:each="mentor : ${mentors}" >
        <td th:text="${mentor.firstName}"></td>
        <td th:text="${mentor.lastName}"></td>
        <td th:text="${mentor.age}"></td>
        <td th:text="${mentor.gender}"></td>
    </tr>
<!--    <tr>-->
<!--        <td th:text="${mentors.get(1).firstName}"></td>-->
<!--        <td th:text="${mentors.get(1).lastName}"></td>-->
<!--        <td th:text="${mentors.get(1).age}"></td>-->
<!--        <td th:text="${mentors.get(1).gender}"></td>-->
<!--        <td></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${mentors.get(2).firstName}"></td>-->
<!--        <td th:text="${mentors.get(2).lastName}"></td>-->
<!--        <td th:text="${mentors.get(2).age}"></td>-->
<!--        <td th:text="${mentors.get(2).gender}"></td>-->
<!--        <td></td>-->
<!--    </tr>-->
</table>


</body>
</html>