<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>

    <!-- Container for metadata (is not displayed on the page)
           tittle , styles (css), link, script, meta and other
    -->
</head>
<body>
<b>Welcome to Java Developer Course</b>

<h1 align="center" style="color: blue">Spring Boot</h1>

<h2>Spring Boot</h2>
<h3>Spring Boot</h3>
<h4>Spring Boot</h4>
<h5>Spring Boot</h5>
<h6>Spring Boot</h6>

<img src="springBoot.png" alt="Spring Boot Image">

<ul>
    <li>Java</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<a href="https://cydeo.com">Cydeo</a>

<table>
    <tr>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>120000</td>
    </tr>
</table>

<br>
<label>Username:</label>
<input type="text" name="username" id="username">
<br>
<label>Password:</label>
<input type="password">
<br>
<label>Enter your comments</label>
<textarea name="comment"></textarea>
<br>

<label>Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">Other
<br>

<label>Please select your favorite course</label>
<input type="radio" name="gender" value="spring">Spring
<input type="radio" name="gender" value="ds">DS
<input type="radio" name="gender" value="java">Java

<br>

<label>Select Your Program</label>
<select>
    <option value="us-sdet">US SDET</option>
    <option value="eu-sdet">EU SDET</option>
    <option value="us-jd">US JD</option>
    <option value="us-al">US AL</option>
</select>
<br>
<form action="#" method="#">
    FirstName: <input type="text" name="first_name">
    <br>
    FirstName: <input type="text" name="last_name">
    <br>
    <input type="button" value="submit">

</form>

<div style="background-color: aqua">
    <h3>Java Developer Course</h3>
    <ul>
        <li>SPRING</li>
        <li>DATA STRUCTURE</li>
    </ul>
</div>

</body>
</html>